{% extends 'base.html.twig' %}

{% block title %}Confidentialité
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../../css/profil.css">
{% endblock %}

{% block body %}
	<div class="container" style="padding-top:90px; min-height:900px;">

Déclaration de confidentialité

Chez Portail, nous accordons une grande importance à la confidentialité de nos utilisateurs. Cette déclaration de confidentialité explique comment nous recueillons, utilisons, divulguons et protégeons les informations personnelles que vous nous fournissez lorsque vous utilisez notre site de streaming de bandes-annonces légal. Nous vous encourageons à lire attentivement cette déclaration afin de comprendre nos pratiques en matière de confidentialité et de savoir comment nous protégeons vos informations.

Collecte des informations personnelles
Nous recueillons des informations personnelles lorsque vous vous inscrivez sur notre site, lorsque vous interagissez avec nos services, lorsque vous nous contactez ou lorsque vous participez à des sondages ou à des concours. Les informations personnelles que nous pouvons collecter comprennent, sans s'y limiter, votre nom, votre adresse e-mail, votre adresse IP et vos préférences de contenu.

Utilisation des informations
Nous utilisons les informations personnelles que vous nous fournissez pour vous offrir une expérience personnalisée sur notre site de streaming de bandes-annonces. Cela peut inclure la personnalisation du contenu, l'envoi de notifications relatives à vos préférences, la gestion de votre compte et la communication avec vous concernant les mises à jour, les offres spéciales ou les changements apportés à nos services.

Divulgation des informations
Nous ne divulguons pas vos informations personnelles à des tiers, sauf dans les cas suivants : lorsque cela est nécessaire pour fournir les services que vous avez demandés, avec votre consentement explicite, si nous sommes tenus de le faire par la loi, ou si nous pensons de bonne foi que cette divulgation est nécessaire pour protéger nos droits, notre propriété ou notre sécurité, ou pour enquêter sur une activité frauduleuse.

Sécurité des informations
Nous prenons des mesures raisonnables pour protéger les informations personnelles que vous nous fournissez contre l'accès non autorisé, l'utilisation abusive, la perte ou la divulgation. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Par conséquent, bien que nous nous efforcions de protéger vos informations, nous ne pouvons garantir leur sécurité absolue.

Cookies et technologies similaires
Nous utilisons des cookies et des technologies similaires pour améliorer votre expérience sur notre site. Ces technologies nous permettent de collecter des informations telles que les pages que vous consultez, votre adresse IP, le type de navigateur que vous utilisez, etc. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur, mais cela peut limiter certaines fonctionnalités de notre site.

Liens externes
Notre site peut contenir des liens vers des sites Web externes. Veuillez noter que cette déclaration de confidentialité ne s'applique qu'à notre site. Nous ne pouvons pas être tenus responsables des pratiques de confidentialité des autres sites auxquels vous pouvez accéder via des liens présents sur notre site. Nous vous encourageons à lire les déclarations de confidentialité de ces sites Web tiers.

Modifications de la déclaration de confidentialité
Nous nous réservons le droit de modifier cette déclaration de confidentialité à tout moment. Toute modification sera publiée sur notre site avec la date de mise à jour correspondante. Il est de votre responsabilité de consulter régulièrement cette déclaration de confidentialité pour rester informé des éventuelles modifications.

Si vous avez des questions ou des préoccupations concernant notre déclaration de confidentialité, veuillez nous contacter à l'adresse suivante : [adresse e-mail ou autre moyen de contact].

Date de mise à jour :  21 mai 2023

Cette déclaration de confidentialité est régie par les lois en vigueur dans votre juridiction et doit être interprétée conformément à celles-ci.

</div>
{% endblock %}
