{% extends 'base.html.twig' %}

{% block title %}Informations légales
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../../css/profil.css">
{% endblock %}

{% block body %}
	<div class="container" style="padding-top:90px; min-height:900px;">

Informations légales
Le service Portail, y compris l'ensemble du contenu fourni, est protégé par les lois et les traités sur le droit d'auteur, les marques déposées, le secret commercial et la propriété intellectuelle.

Droit d'auteur
Les droits d'auteur liés aux séries, films et animés ne nous appartiennent pas, c'est donc pourquoi nous n'avons que les bandes annonces. Vous ne devez pas 
essayer de voler les films ou l'ensemble du contenu fourni.

Marques déposées
Portail et le logo Portail sont des marques déposées de Portail, Inc.

Si vous n'avez pas obtenu notre autorisation de le faire, veuillez ne pas utiliser les marques de Portail comme si elles vous appartenaient ou de toute autre manière qui impliquerait un parrainage ou une approbation de la part de Portail.

Tout produit marqué du nom ou du logo Portail représente l'image de Portail. À moins que vous ne fassiez partie de nos titulaires de licence, vous n'êtes pas autorisé à produire, vendre ou donner quoi que ce soit portant notre nom ou notre logo.

Brevets
Le service de streaming de Portail est protégé par un brevet.

</div>
{% endblock %}
