{% extends 'base.html.twig' %}

{% block title %}Mentions légales de Portail

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="../../css/profil.css">
{% endblock %}

{% block body %}
	<div class="container" style="padding-top:90px; min-height:900px;">
<h1> Mentions légales </h1>
Mentions légales de Portail
L'entité Portail qui vous fournit l'accès au service Portail vous permet de regarder des bandes annonces de Film, séries et animés. Si vous vous inscrivez vous recevrez
des mails de notre part.

Portail, Inc.
Montigny le Bretonneux
Ensitech, 78, France




Nous sommes là pour vous aider si vous en avez besoin. Pour obtenir le plus rapidement une réponse à vos questions, 
nous vous encourageons à contacter le service clientèle. Pour plus d'informations, consultez le Centre d'aide ou contactez-nous. 
Vous pouvez aussi contacter l'assistance clientèle par e-mail à l'adresse Portail. Veuillez ne pas envoyer le mot de passe de votre compte ni vos informations de paiement.
</div>
{% endblock %}
