.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(-100%);
  border-left-color: black;
}

.offcanvas-backdrop.show {
  opacity: .5;
  top:5%;
}

.shownav{
  position: fixed;
  border-bottom: solid;
  border-bottom-color: black;
  background-color: white;
  z-index:1100;
  height:5%!important;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  display:flex;
  top:0;
  padding:0;
}


.fLuidStyle{
  padding:0;
  height: 100%;
  position: relative;
}

.buttonNavbar{
  height:100%;
  border-color:white;
  display: block;
    height: 100%;
    font-family: Geomanist,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #e8e8e8;
    color: #e3474b;
    border-radius: 0;
    text-decoration: none;
    transition: background-color .3s;
    border-left: 1px solid #fff;
    -webkit-tap-highlight-color: transparent;
}



body.navfix .shownav {
  width: 100%!important;
}

.noStyle{
  border-color:white;
}

.listIcon{
  font-size: 150%;
  float:left;
  text-align: left;
}

/* .buttonNavbar{
  float:left;
  text-align: left; 
} */

.titreNavbar{
}

.rightDivNavbar{
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  height: 100%;
  text-align: right;
  width: 50%;
  right:0;
}


.leftDivNavbar{
  float:left;
  height: 100%;
  overflow: hidden;
  margin-left: 0;
  width: 50%;
  text-align: left;
}




















