.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(-100%);
  border-left-color: black;
}

.offcanvas-backdrop.show {
  opacity: .5;
  top:76px;
}

.shownav{
  position: fixed;
  border-bottom-color: black;
  /* background-color: #0D0D0D; */
  background-color: #1F2F8C;
  z-index:1100;
  height:56px!important;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  display:flex;
  top:0;
  padding:0;
}

.buttonIcon{
  background-color: black;
}

.iconTaille{
  font-size: 30px;
  padding-bottom: 10px;
  color:#fff;
}

.listIcon{
  font-size: 150%;
  float:left;
  text-align: left;
  color:#fff;
}

.offcanvasStyle{
  border-color: white;
  border-top: solid;
  color:white;
  border-width: 4px;
}

.li5{
  padding-left: 5px;
  padding-top: 5px;
}

element.style {
  padding-right: 0;
  overflow: hidden;
}


.modal-body {
  height: 70vh;
  overflow-y: auto;
  /*THIS IS WHERE THE SCROLL is, when I added this ofc it ads a vertical scroll but at the same time the annoying right-margin.*/
  margin-right: 0px !important;
  scroll-margin-right: 0px;
}

[class^="bi-"]::before, [class*=" bi-"]::before{
  overflow: overlay;
}



.fade {
  transition: none;
}

.boutonNav{
  color:white;
  --bs-btn-color: black;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #black;
  --bs-btn-active-bg: black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}

.boutonNav:hover{
  background-color: white;
  color:black;
}

.logo:hover{
  color:#3b3b3a;
}

.whiteArrow{
  color:white;
}
.whiteArrow:hover{
  color:#3b3b3a;
}