body{
  color:white;
  background-color: #293473;
}

/* bandeau à changer par une div et une vraie image <img>*/
.monbandeau {
  height: 320px;
  background-image: url(../css/img/portailfond2.png);
  border: none;
  color: #000; text-shadow: 1px 1px 0 #fff;
  text-size-adjust: 100%;
  overflow: hidden;
}



/* div abonnement page accueil */
.achat{
  box-sizing: inherit;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 20%);
  letter-spacing: normal;
}

.textDemonstrationSpan{
  display: block;
  text-transform: uppercase;
  color: #000;
}

.textDemonstrationP{
  color:black;
}

.demonstration {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  margin-top:3%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  border-color: black;
  border: solid;
  border-color: black;
  border-width: 2px;
  margin-bottom:30px;
  display: block;
  background-color: #fff;
}




/* Cards */
.grid-wrapper {
  /* display: grid; peut être a ajouter quand slider*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card {
    max-width: 280px; 
    margin: 50px 10px; 
}
  
.card-container {
    display: -ms-grid;
    display: grid;
    -webkit-perspective: 700px;
            perspective: 700px;
    max-width: 280px;
    display: inline-block;
  }
  
.card-title p, h4, h5 {
    font-family: 'Nunito' !important;
    text-align: center;
    color: white;
}
  
.card-text {
    font-family: 'Nunito' !important;
    text-align: center;
    color: white;
}
  
.card-flip {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr / 1fr;
        grid-template-areas: "frontAndBack";
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
  
.card-flip div {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
  
.front {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: frontAndBack;
    background-color: #383428 !important;
    margin-top:0;
}

.back {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: frontAndBack;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    background-color: #383428 !important;
    margin-top:0;

}
  
.card-container:hover .card-flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.btn {
    color: #383428 !important;
}

.btn:hover {
    color: white !important;
}

.rating {
    text-decoration: none;
    color: #ff9800 !important;
}

.rating:hover {
    text-decoration: none;
    color: #ffcc80 !important;
}
  
.movie {
    position: fixed;
    z-index: -1;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    bottom: 0;
}