{% extends 'base.html.twig' %}
{% block title %}videos
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

	<div class="divimage"><img class="img-fluid imageDiv" src="../css/img/portaildiv2.png" alt></div>

	<div class="workshopbody">
		<div
			id="movie-card-list">
			<div class="movie-card">
				<div class="color-overlay">
					<div class="movie-share">&nbsp;</div>
					<div class="movie-content">
						<div class="movie-header">
							<h1 class="movie-title">PROFITEZ DES MEILLEURS FILMS/SÉRIES/ANIMÉS AVEC PORTAIL PRIME.</h1>

							<h4 class="movie-info">Le site de streaming que vous allez adorer</h4>
						</div>
						<br>
						<p class="movie-desc">Abonnez-vous à Portail Prime pour pouvoir profiter de toutes nos vidéos sans pub et en qualité HD, où que vous soyez et quand vous voulez ! Profitez donc de nos offres qui vous permettrons de prendre un portail vers de nouvelles aventures
														        et de nouvelles dimensions.</p>
						<a class="btn btn-outline" href="https://claytonstate.qualtrics.com/jfe/form/SV_9FScuNt5Fdv5yXb" target="_blank">Magasin</a>
					</div>
					<div class="movie-content" style="float:right !important; width:45%;">
						<img class="img-fluid" src="../css/img/fondDivAchat3.png" alt="MDB Logo" loading="lazy" style="padding-left:3px;"/>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">
		<p class="textMoment">Films du moments</p>
	</div>


	<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; margin-top:-10px;">


{# <h2 class="section-title">Individual elements</h2> #}

<div class="media-scroller snaps-inline">
{% for allFilm in allFilm %}
  <div class="media-element">
    <div class="card-container box">
					<div
						class="card-flip">
						<!-- Card Front -->
						<div class="card front">
							<img src="https://i.ibb.co/jT8pwN0/Blood-Prison.jpg" class="card-img-top img-fluid" alt="movie-poster">
							<div class="card-block">
								<h5 class="card-title">{{ allFilm.titre }}</h5>
								<p class="card-text">{{ allFilm.typeVideo.libelleTypeVideo }}</p>
								<p class="card-text">
									<small class="text-muted">2011</small>
								</p>
							</div>
						</div>
						<!-- End Card Front -->

						<!-- Card Back -->
						<div class="card back">
							<div class="card-header warning-color"></div>
							<div class="card-block text-center">
								<h4 class="card-title">Rating</h4>
								<p class="card-text">
									<a href="#" class="rating">7,52/10</a>
								</p>
								<a href="#" class="btn orange">Watch</a>
							</div>
							<img class="movie" src="https://i.ibb.co/2Kqn5L9/Blood-Prison.png" alt="back-img">
						</div>
						<!-- End Card Back -->
					</div>
				</div>
  </div>
  {% endfor %}

</div>
</div>
</div>
{% endblock %}

