{% extends 'base.html.twig' %}

{% block title %}show{% endblock %}

{% block body %}


<div class="container">
    <br><br><br><br>
    <h2>tous nos cinémas</h2>
    
   {% for item in allCinema %}
    <div class= "card-columms text-center mx-2"  style ="display: inline-block">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="../image/cinema.jpg" > 
            <h4 class="text-light">{{ item.nom }} </h4> {#item.field avec l'api |'commune':item.fields.commune#}
            <small class="text-muted">
                <a class="text-light" href="{{ path('cinema.findOne',{'Name':item.nom,'adresse':item.adresse,'id':item.id}) }}">cliquez ici </a>
            </small>   
        </div>
    </div> 
    {% endfor %} 


    


</div>

{% endblock %}