  {% extends 'base.html.twig' %}

  {% block stylesheets %}
    <link rel="stylesheet" href="../css/cineCss.css">
  {% endblock %}

  {% block title %}Hello CinemaController!
  {% endblock %}

  {% block body %}
{# début image bannière #}
	<div class="imageDiv" style="height:615px; width:auto; margin: auto;">
		<div class="slider" style="">
			<div class="slide_viewer">
				<div class="slide_group">
					<div class="slide">
						  <img class="img-fluid imgDiapo" src="../img/fast&furious.jpg">
					</div>
        </div>
      </div>
		</div>
	</div>

<div class="container-fluid" style="padding-right: 90px; padding-left: 90px; padding-top:35px; margin-top:-10px;">
    <h2 class="text-center mb-4" style="padding-top:10px; padding-bottom:10px;"> 
        <span>
            <a href="{{ path('cinema.findAll') }}" class="btn btn-light btn-lg">
                Cherchez votre cinéma :
            </a>
        </span>
    </h2>

      {# Début slider cards #}
      <div class="" style="">
        <div class="slider-wrap">
          <div class="slider2 sliderBarStyle">
            <div class="slider-inner">
              {% for item in nowPlaying %}
                <div class="item">
                  <div class="media-element">
                    <div class="card-container box" style="width: 800px">
                      <div
                        class="">
                        <!-- Début Card Front -->
                        <div class="card front">
                          <img src="https://image.tmdb.org/t/p/original{{item.poster_path}}" class="card-img-top img-fluid unselect" alt="movie-poster" draggable="false" style="height:339px; width :150%">
                          <div class="card-block" style="height:101px;">
                            <h5 class="card-title">{{ item.title }}</h5>
                          </div>
                        </div>
                        <!-- Fin Card Back -->
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {# Fin slider cards #}
    </div>
  {% endblock %}

