{% extends 'base.html.twig' %}

{% block title %}Hello CinemaController!{% endblock %}

{% block body %}

<div> 
    <span>Rechercher votre Cinema </span><br/>


    <iframe src="https://data.culture.gouv.fr/explore/embed/dataset/etablissements-cinematographiques/map/?lang=fr&rows=10&location=5,46.53754,2.40395&static=false&datasetcard=false&scrollWheelZoom=false" width="400" height="300" frameborder="0"></iframe>
</div>





{% endblock %}