{% extends 'base2.html.twig' %}

{% block title %}new video
{% endblock %}

{% block header %}
{% include 'partials/header2.html.twig' %}
{% endblock %}



{% block body %}


<div style='padding-top:70px;'><p>C'est le haut du panier</p></div>

  <video
    id="{{ video.titre }}"
    class="video-js vjs-default-skin"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="{{ video.image }}"
    data-setup='{}'
  >
    <source src="{{ video.url }}" type="video/mp4" />
  </video>

  <p> {{video.titre}}</p>


<img src="../img/LOGO4.png" height="45" style="padding-left:3px;"/>
<img src="../../img/OUI.png" height="45" style="padding-left:3px;"/>

    {% endblock %}
